<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find wheelchair_simulation)/worlds/hospital.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(find wheelchair_description)/urdf/wheelchair_real_new.xacro" />


   <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model wheelchair -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param /robot_description" respawn="false"/>
    
   <!--<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
	<remap from="cloud_in" to="/camera/depth/points"/>
	<rosparam>
            target_frame: camera_link
            transform_tolerance: 0.01
            min_height: 0.05

            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 0.05
            range_min: 0.4
            range_max: 5.0
            use_inf: true

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>
  </node>-->

    </launch>
