<launch>
    <!-- kangaroo_driver -->
    <include file="$(find kangaroo_driver)/launch/kangaroo_driver.launch" />

    <!-- rplidar_ros -->
    <include file="$(find rplidar_ros)/launch/rplidar_a3.launch" />

    <!-- wheelchair_nav_cameras - angle_range_filter -->
    <include file="$(find wheelchair_nav_cameras)/launch/angle_range_filter.launch" />

    <!-- wheelchair_mapping - robot_state_publish -->
    <include file="$(find wheelchair_mapping)/launch/robot_state_publish.launch" />

    <!-- wheelchair_nav_cameras - wheelchair_nav -->
    <include file="$(find wheelchair_nav_cameras)/launch/wheelchair_nav.launch" />
</launch>