<launch>
  <arg name="gui_cfg"                 default="~/.ros/rtabmap_gui.ini" />
  <arg name="gdb"                     default="false"/>         <!-- Launch nodes in gdb for debugging (apt install xterm gdb) -->
  <arg     if="$(arg gdb)" name="launch_prefix" default="xterm -e gdb -q -ex run --args"/>
  <arg unless="$(arg gdb)" name="launch_prefix" default=""/>

  <arg name="localization"            default="false"/>
  <arg     if="$(arg localization)" name="args" default=""/>
  <arg unless="$(arg localization)" name="args" default="--delete_db_on_start"/>

  <arg name="wait_for_transform"      default="0.2"/>

  <arg name="rgb_topic"               default="/camera/color/image_raw" />
  <arg name="depth_topic"             default="/camera/depth/image_raw" />
  <arg name="camera_info_topic"       default="/camera/color/camera_info" />

  <group ns="rtabmap">

    <!-- Use RGBD synchronization -->
    <!-- Here is a general example using a standalone nodelet, 
         but it is recommended to attach this nodelet to nodelet 
         manager of the camera to avoid topic serialization -->
    <!-- <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_sync/rgbd_sync" output="screen">
      <remap from="rgb/image"       to="/camera/color/image_raw"/>
      <remap from="depth/image"     to="/camera/aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
      <remap from="rgbd_image"      to="/camera/rgbd_image"/>  -->
      <!-- output -->
      
      <!-- Should be true for not synchronized camera topics 
           (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <!-- <param name="approx_sync"       value="true"/> 
    </node> -->

    <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen" args="$(arg args)">
          <param name="frame_id" type="string" value="base_link"/>

          <param name="subscribe_depth" type="bool" value="true"/>
          <param name="subscribe_rgb" type="bool" value="true"/>
          <param name="subscribe_scan" type="bool" value="true"/>

          <remap from="odom" to="/odom"/>
          <remap from="scan" to="/scan"/>
          <remap from="rgb/image" to="$(arg rgb_topic)"/>
          <remap from="depth/image" to="$(arg depth_topic)"/>
          <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
          <param name="approx_sync"  type="bool"  value="true"/>

          <param name="queue_size" type="int" value="10"/>

          <param name="wait_for_transform_duration" type="double"   value="$(arg wait_for_transform)"/>
          <!-- RTAB-Map's parameters -->
          <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
          <param name="RGBD/ProximityBySpace"     type="string" value="true"/>
          <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
          <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/> 
          <param name="Grid/FromDepth"            type="string" value="false"/> <!--occupancy grid from lidar-->
          <param name="Reg/Force3DoF"             type="string" value="true"/>
          <param name="Reg/Strategy"              type="string" value="1"/> <!--1=ICP-->
          
          <!-- ICP parameters -->
          <!-- <param name="Icp/VoxelSize"                 type="string" value="0.05"/>
          <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>

          <! localization mode -->
          <!-- <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
          <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
          <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/> -->
    </node>

  </group>

    <node pkg="rtabmap_viz" type="rtabmap_viz" name="rtabmap_viz" args="-d $(arg gui_cfg)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)">
        <param name="frame_id" type="string" value="base_link"/>

        <param name="subscribe_depth" type="bool" value="true"/>
        <param name="subscribe_rgb" type="bool" value="true"/>
        <param name="subscribe_scan" type="bool" value="false"/>

        <param name="wait_for_transform_duration" type="double"   value="$(arg wait_for_transform)"/>
        <param name="queue_size"           type="int"    value="10"/>
        <param name="approx_sync"          type="bool"   value="true"/>

        <remap from="odom" to="/odom"/>
        <remap from="scan" to="/scan"/>
        <remap from="rgb/image" to="$(arg rgb_topic)"/>
        <remap from="depth/image" to="$(arg depth_topic)"/> 
        <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>

    </node>

      <!-- <param if="$(arg visual_odometry)" name="subscribe_odom_info" type="bool" value="true"/>
      <param if="$(arg icp_odometry)"    name="subscribe_odom_info" type="bool" value="true"/> -->
      <!-- <param name="odom_frame_id"        type="string" value="$(arg odom_frame_id)"/> -->

</launch>